<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <link rel="shortcut icon" type="image/png"
          href="https://www.blackpinkmusic.com/sites/g/files/aaj11286/f/BP_Favicon_small.png">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Roboto">

    {% block links %}
    {% endblock %}

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>